/* Question 0. Import a font and make all text in the body using that font. Check the homework instructions for more information!*/
/* Set all text in the body to be a certain color (whatever color you choose!)*/
/* Center all text in the body. Check out the homework spec for help.*/

body {
    margin: 50px auto;
    max-width: 1200px;
    background-color:  #f6f6ed;
    color: black;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
}

/* Question 1: Add a border, border radius, box shadow, or whatever other styling you'd like to your image! */
img {
    width: 175px;
    border-radius: 30px; 
    border: 5px solid transparent;
    transition: ease-in-out 0.5s;
}
img:hover{
    transform: scale(1.35);
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.3);
    border: 5px solid #333; 
}

h1 {
    font-size: 45px;
    transition: ease-in-out 0.5s;
}
/* Question 2. Select the h1 tag and add a hover effect! You can change the background-color, color, opacity, or anything you want.*/

/* YOUR CODE HERE */
h1:hover{
    font-size:55px;
    border-radius: 50px; 
    background-color: black;
    color: #f6f6ed;
    border: 2px solid #ccc;
    padding: 10px;
}





/* Question 3. Add different background colors for all the different sections (Education, Experience, etc.) by selecting them via ids. */

/* YOUR CODE HERE */
#Education {
    background-color:  #d4e6d6;
    
}
#Education:hover{
    background-color: #d9c7b6;
    color: black;
}

#Experience {
    
    background-color:  #bddde2;
}
#Experience:hover{
    background-color: #6b7a8f;
    color: black;
    font-size: 14px;
}

#Projects {
    background-color:  #e6e6fa;
}
#Projects:hover{
    background-color: #b3a395;
    color: black;
}

#Contact {
    background-color:  #e0e0e0;
    
}
#Contact:hover{
    background-color: #e4d1b9;
    color: black;
}



/* Question 4. Add margin, padding, and borders to the section-wrapper class! */

.section-wrapper {
    background-color: #a5d2ee;
    border-radius: 50px; 
    font-size: 12px;
    transition: ease-in-out 0.5s;
    margin: 50px;
    padding: 25px ;
    border: 6px solid black;
    /*YOUR CODE HERE*/
}
.section-wrapper:hover{
    font-size: 16px;
}



/* Experience Section */

/* Question 5a. Use CSS Flexbox to display your experiences as shown in the diagram.
 Hint: Check the homework spec for some help!*/

.experience-wrapper {
    display: flex; /* YOUR CODE HERE */
    gap: 50px; /*YOUR CODE HERE*/
    justify-content: space-around; /*YOUR CODE HERE*/
}

/* Question 5b. Add a background color to the experience-list-item class.*/

.experience-list-item {
    border: 4px solid #1d3557;
    text-align: left;
    width: 250px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color:  #f6f6ed;
    /*YOUR CODE HERE*/

    /* Side note: the transition attribute makes effects look smoother! 
    This means the hover effect will slowly kick in for 0.2s. */
    transition: ease-in-out 0.2s;
}



/* Question 5c. Let's take a break! Add a hover effect to each experience-list-item div. 
Experiment with border, border-radius, background-color, or whatever you want!*/

.experience-list-item:hover {
    /* YOUR CODE HERE */
    font-size: 16px;
    background-color: rgb(228, 228, 228);
}




/* Projects Section */

/* Question 6. Use CSS Flexbox and hover effects for the Projects Section, just as you did for the Experience Section! */

/*YOUR CODE HERE*/
.project-wrapper {
    display: flex;
    gap: 30px;
    justify-content: space-around;
    margin: 50px;
}
.project-list-item {
    border: 4px solid #1d3557;
    text-align: center;
    width: 250px;
    padding: 10px 20px;
    border-radius: 15px;
    background-color: #f6f6ed;
    transition: ease-in-out 0.2s;
}
.project-list-item a {
    color: #1d3557;
    text-decoration: none;
}
.project-list-item:hover{
    font-size: 16px;
    background-color: rgb(228, 228, 228);
}







/* Contact Section */

/* Question 7. Make your link look something like the one shown in the homework spec!*/
.contact-links{
    display:flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}
.contact-links a {
    color : #1d3557;
    text-decoration: none;
    font-size: 18px;
    padding: 10px 15px;
    border: 2px solid #1d3557;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}
.contact-links a:hover{
    background-color: #1d3557;
    color: white;
    text-decoration: none;
}